* { box-sizing: border-box; }
.container{
  margin:0 auto;
  width: 80%
}
.header h1 {
  text-align:center;
}
.column {
  display: inline-block;
  float: left;
  width: 33.33333333333333%;
}
.main-text {
  padding-top: 60px;
  clear: both;
}
.image img {
  width: 100%;
}
